.results-card {
    border-radius: 25px;
    background: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    justify-content: center;
  
    table {
      thead {
        th {
          border: none;
          font-size: 14px;
          padding: 15px 30px;
          text-align: left;
        }
      }
      td {
        border: none;
        font-size: 12px;
        text-align: center;
      }
      .theme {
        background-color: rgba(236, 208, 55, 1);
        font-size: 14px;
        text-align: center;
      }
      .green {
        color: green;
      }
  
      .red {
        color: red;
      }
    }
  }
  