<div class="row results-card">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th>Questão No.</th>
            <th>Resposta Correta</th>
            <th>Seu Resposta</th>
            <th>Resultado</th>
          </tr>
          <ng-template ngFor let-element [ngForOf]="data">
            <tr>
              <td colspan="4" class="theme">{{ element.theme }}</td>
            </tr>
            <ng-template ngFor let-value [ngForOf]="element.answers">
              <tr>
                <td>{{ value.questionId }}</td>
                <td>{{ value.answer }}</td>
                <td>{{ value.yourAnswer }}</td>
                <td class="{{ value.result ? 'green' : 'red' }}">
                  {{ value.result ? "Correta" : "Incorreta" }}
                </td>
              </tr>
            </ng-template>
          </ng-template>
        </thead>
      </table>
    </div>
  </div>
  