<div class="questions-box">
  <div class="left-side">
    <div class="bg">
      <img src="../assets/energy.svg" alt="Kiwi standing on oval" />
      <p class="question">
        {{data.question.id}} {{data.question.title}}
      </p>
    </div>
  </div>
  <div class="right-side">
    <div class="quiz">
      <ul>
        <li>
          <input type="radio" id="a-option" name="selector" value="a" (change)="onItemChange($event.target.value)">
          <label for="a-option" class="element-animation">{{data.question.answers.a}}</label>
          <div class="check"></div>
        </li>

        <li>
          <input type="radio" id="b-option" name="selector" value="b" (change)="onItemChange($event.target.value)">
          <label for="b-option" class="element-animation">{{data.question.answers.b}}</label>
          <div class="check">
            <div class="inside"></div>
          </div>
        </li>

        <li>
          <input type="radio" id="c-option" name="selector" value="c" (change)="onItemChange($event.target.value)">
          <label for="c-option" class="element-animation">{{data.question.answers.c}}</label>
          <div class="check">
            <div class="inside"></div>
          </div>
        </li>

        <li>
          <input type="radio" id="d-option" name="selector" value="d" (change)="onItemChange($event.target.value)">
          <label for="d-option" class="element-animation">{{data.question.answers.d}}</label>
          <div class="check">
            <div class="inside"></div>
          </div>
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-success" [disabled]="!answer" (click)="submit()">Responder</button>
  </div>
  <div class="fase">
    <p>Fase</p>
    <div class="fase-number">
      {{level}}
    </div>
  </div>
  <div class="theme">
    <p>Tema</p>
    <p class="theme-display">
      {{data.theme}}
    </p>
  </div>
</div>