.questions-box {
  margin: 0 auto;
  width: calc(100vw - 240px);
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  .left-side {
    width: 50%;
    position: relative;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(236, 208, 55, 1) 0%,
      rgba(244, 132, 0, 1) 100%
    );
    .bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .question {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85%;
      font-size: 50px;
      font-weight: bold;
      margin: 0;
      text-align: center;
    }
  }
  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background: rgba(236, 208, 55, 0.2);
  }

  .fase {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    p {
      margin: 0;
      margin-bottom: 15px;
    }
    .fase-number {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;

      font-weight: bold;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    }
  }

  .theme {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    p {
      margin: 0;
      font-size: 22px;
    }
    .theme-display {
      font-size: 40px;
      border-radius: 50%;
      width: 400px;
      display: flex;
      overflow-wrap: break-word;
      word-wrap: break-word;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
  }

  .quiz {
    display: flex;
    flex-direction: column;
  }

  ul {
    li {
      color: #aaaaaa;
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 100px;
      border-bottom: 1px solid #111111;

      label {
        display: block;
        position: relative;
        font-weight: 300;
        font-size: 1.35em;
        padding: 25px 25px 25px 80px;
        margin: 10px auto;
        height: 30px;
        z-index: 9;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
      }

      .check {
        display: block;
        position: absolute;
        border: 5px solid #aaaaaa;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        top: 30px;
        left: 20px;
        z-index: 5;
        transition: border 0.25s linear;
        -webkit-transition: border 0.25s linear;
      }

      input[type="radio"] {
        position: absolute;
        visibility: hidden;

        &:checked {
          ~ .check{
            border: 5px solid black;
            &:before {
              background: black;
            }
          }
          ~ label{
            color: black;
          }
        }
      }

      &:hover {
        label {
          color: #ffffff;
        }

        .check {
          border: 5px solid #ffffff;

          &:before {
            display: block;
            position: absolute;
            content: "";
            border-radius: 100%;
            height: 14px;
            width: 14px;
            top: 3px;
            left: 3px;
            margin: auto;
            transition: background 0.25s linear;
            -webkit-transition: background 0.25s linear;
          }
        }
      }
    }
  }
}
