.root {
    display: flex;
    background: rgba(236, 208, 55, 0.2);
}

.router {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.menu {
    height: 100vh;
    width: 240px;
    background-color: rgba(236, 208, 55, 0.2);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    z-index: 5;
}