<div>
    <p class="title">Ranking</p>
    <ul class="list-group">
        <ng-template ngFor let-element [ngForOf]="ranking">
            <li class="list-group-item">
                <div class="media">
                    <img src={{element.photo}} class="mr-3">
                    <div class="media-body">
                        <h5 class="mt-0">{{element.username}}</h5>
                        Pontuação: {{element.score}}
                    </div>
                </div>
            </li>
        </ng-template>
    </ul>
</div>