.media {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mr-3 {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.list-group-item {
    background-color: rgba(236, 208, 55, 0.2);
}
.title {
    text-align: center;
    display: flex;
}